# Ignore Python cache & virtual environment
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/

# Ignore large model files
*.pkl

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Jupyter notebook checkpoints (if any)
.ipynb_checkpoints/

# Ignore logs
*.log
